html {
  margin: 0;
  font-size: 14px;
  font-family: Arial;
  height: 100%;
}

header {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-evenly;
}

header > nav {
  width: 100%;
  margin-top: 5px;
}

header .sov-app-main-btn {
  position: relative;
}

.sov-app-nav-list{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: var(--gutter-width);
  justify-content: space-evenly;
  margin-right: 10px;
  margin-bottom: 10px;
}

.sov-app-main-wrap{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
