 /*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  
 
}



/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .app-main-wrap{display: flex;}
.app-sidebar{
  border: 2px solid chartreuse;
  width: 40%;
  
 }
 .app-main-wrap .app-main{ 
  
  width: calc(75% - var(--gutter-width));
  height: 100%;
  margin:0 var(--gutter-width) 0 0;
}
.naw h2  { color: var(--title-color-table);}
}

  



/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .app-main-wrap{display: flex;}
  .main-desktop{width: 100%;}
 
  
 .app-sidebar{
  border: 2px solid black;
 }
 .img {height: 100px;}
}
.naw h2 { color: var(--title-color-desktop);}
 

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}