.header {
    position: relative;
}

.header>h2 {
    float: left;
    width: 100%;
}

.header>nav {
    float: left;
    width: fit-content;
    margin-left: 15%;
}

.header .nav-list>li {
    float: left;
    top: 12px;
    position: relative;
}

.header>.button {
    position: absolute;
    float: right;
    top: 23px;
    right: 16px;
}


/* main*/

.main-container {
    height: 100%;
}

.main-container .content,
.main-container .sidebar {
    margin: 0 auto;
}