html {
  margin: 0;
  font-size: 14px;
  font-family: Arial;
  height: 100%;
}

* {
  font-size: 12px;
  font-family: Arial;
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
}

ul > li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  line-height: 1.7;
  text-align: center;
}

body {
  height: 100%;
  width: var(--width-center);
  margin: 0 auto;
  position: relative;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  color: var(--title-color-mobile);
  margin: calc(var(--gutter-width) / 2) 0 var(--gutter-width);
  text-align: center;
}

h2 {
  font-size: 24px;
  margin: calc(var(--gutter-width) / 2) 0 var(--gutter-width);
  font-weight: bold;
  color: var(--title-color-mobile);
}

h3 {
  font-size: calc(14px + 1vh);
  margin: calc(var(--gutter-width) / 2) 0 var(--gutter-width);
  font-weight: bold;
  color: var(--title-color-mobile);
}

.sav-app-main-btn {
  border: none;
  padding: calc(var(--gutter-width) / 2) var(--gutter-width);
  width: fit-content;
  height: fit-content;
  background: var(--button-color-mobile);
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  user-select: none;
  margin: 5px;
}

header {
  padding: var(--gutter-width) calc(var(--gutter-width) * 2);
  height: var(--header-height);
  min-height: 150px;
  width: 100%;
  color: var(--title-color-mobile);
}

header > h2 > a{
  font-size: 24px;
  font-weight: bold;
}

header .sav-app-nav-list > li{
  margin-left: 5px;
  min-width: fit-content;
}

header .sav-app-main-btn {
  background-color: var(--button-color-mobile);
}

.sav-app-main-wrap .sav-app-main .sav-app-bg-cont img{
  width: 100%;
}

.sav-clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.sav-app-bg-cont img{
  margin: 20px 0;
}

footer{
  text-align: center;
  padding: 0 30px;
  margin: 0 auto;
}

.sav-app-sidebar{
  border: 1px solid #000;
  padding: var(--gutter-width);
  width: var(--width-center);
}

.sav-app-table, .sav-app-desktop {
  display: none;
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {
  header > h2 > a {
    color: var(--title-color-table);
  }

  header .sav-app-nav-list > li a {
    color: var(--title-color-table);
  }

  header .sav-app-main-btn {
    background: var(--button-color-table);
  }

  h1 {
    color: var(--title-color-table);
  }

  h2 {
    color: var(--title-color-table);
  }

  .sav-app-mobile {
    display: none;
  }

  .sav-app-table {
    display: inline;
  }

}

@media (min-width: 992px) {
  .sav-app-table {
    display: none;
  }

  header > h2 > a {
    color: var(--title-color-desktop);
  }

  header .sav-app-nav-list > li a {
    text-decoration: none;
    color: var(--title-color-desktop);
  }

  header .sav-app-main-btn {
    background: var(--button-color-desktop);
  }

  h1 {
    color: var(--title-color-desktop);
  }

  h2 {
    color: var(--title-color-desktop);
  }

  .sav-app-desktop {
    display: inline;
    float: left;
    height: calc(100vh - var(--footer-height) - var(--header-height) - var(--title-height));
  }
}

@media (min-width: 1200px) {

}