:root {
  --title-color-mobile: red;
  --title-color-table: green;
  --title-color-desktop: rgb(2, 2, 21);

  --button-color-mobile: sov-app-main-btnrgb(14, 14, 220);
  --button-color-table: rgb(112, 42, 165);
  --button-color-desktop: rgb(4, 255, 0);

  --gutter-width: 20px;
  --header-height: 100px;
  --footer-height: 100px;
  --title-height: 150px;

  --width-center: 85vw;
}
