:root {
  --title-color-mobile: blue;
  --title-color-table: yellow;
  --title-color-desktop: darkred;

  --button-color-mobile: blue;
  --button-color-table: yellow;
  --button-color-desktop: darkred;
  --button-color-all: black;

  --gutter-width: 20px;
  --header-height: 100px;
  --footer-height: 100px;

  --container-width-mobile: 85vw;
}
